@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900')
@import '_colors.styl'

body
    background c_black
    color c_white
    padding 100px
    font-family 'Montserrat', sans-serif