@import '_colors.styl'

.note
    margin 14px
    background c_purple
    padding 20px
    border-radius 20px
    .note-title
        font-size 16px
        text-transform uppercase
        font-weight 600
    .note-content
        margin 10px 0 10px 10px
        font-weight 400
        font-size 14px
    .note-time
        font-size 12px
    .btn
        border none
        background c_yellow
        padding 6px
        border-radius 4px
        margin 10px 4px
        cursor pointer
        transition 200ms ease
        &:hover, &:focus
            background c_blue
            transition 200ms ease